:root {
  --button-height: 60px;
  --button-border-radius: 60px;
  --flex-gap: 10px;
  --white-font: white;
}

main {
  height: 650px;
  width: 330px;
  background-color: black;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: var(--flex-gap);
  justify-content:center;
  align-items:center;
}

.monitor {
  height: 200px;
  width: 250px;
  background-color: inherit;
  color:var(--white-font);
  position: relative;
}

.output {
  font-family: Roboto;
  font-weight: Light;
  font-size: 45px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.buttons-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flex-gap);
  justify-content:center;
}

.bottom-buttons {
  display: flex;
  gap: var(--flex-gap);
}

.cal-button {
  height: var(--button-height);
  width: 60px;
  border-radius: var(--button-border-radius);
  border-style: none;
  font-size: 20px;
}

.zero-button {
  height: var(--button-height);
  width: 130px;
  border-radius: var(--button-border-radius);
  border-style: none;
  text-align:left;
  padding-left: 23px;
}

.light-button {
  background-color: #cfcfce;
}
.orange-button {
  background-color: #ec8b03;
  color: var(--white-font);
}
.dark-button {
  background-color: #444444;
  color: var(--white-font);
}

.light-button:active {
  background-color: #ededed;
}

.orange-button:active {
  background-color: #fcd6a1;
}

.dark-button:active {
  background-color: #b4b4b4;
}